{% extends "base.html" %}
{% block content %}
<h2>Vehículos</h2>
<a href="{{ url_for('vehiculos_crear') }}">Registrar Vehículo</a>
<table>
  <tr><th>ID</th><th>Nombre</th><th>Categoria</th><th>Estado</th><th>Acciones</th></tr>
  {% for v in vehiculos %}
  <tr>
    <td>{{ v.ID_Vehiculo }}</td>
    <td>{{ v.Nombre_Vehiculo }}</td>
    <td>{{ v.Categoria }}</td>
    <td>{{ v.Estado }}</td>






    <td class="acciones">
      {% if session.role == 'admin' %}
        <div class="acciones-contenedor">
          <a class="btn-editar" href="{{ url_for('vehiculos_editar', id=v.ID_Vehiculo) }}">Editar</a>

          <form action="{{ url_for('vehiculos_eliminar', id=v.ID_Vehiculo) }}" method="post">
            <button class="btn-eliminar" type="submit" onclick="return confirm('Eliminar?')">Eliminar</button>
          </form>
        </div>
      {% endif %}
    </td>





  </tr>
  {% endfor %}
</table>
{% endblock %}
